.site-footer {
    padding: 10px;
    background: $color-black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "logo contact"
            "menu menu"
    }

    &__logo {
        grid-area: logo;
    }

    &__contact {
        grid-area: contact;


    }

    &__test  {
        grid-area: menu;

    }

}