$color-primary: #FFD700;
$color-primary_darken: darken(#FFD700, 10%);
$color-primary_lighten: lighten(#FFD700, 10%);

$color-black: #4b4b4b;
$color-white: whitesmoke;

$font-primary: 'Work Sans';
$font-secondary: 'Playfair Display';